{% extends "template.html" %}
{%block titulo%}
Técnicos TI
{%endblock%}
{% block cadastro %}
<a class="nav-link" href="{{url_for('cadastro_usuario')}}">Cadastro</a>
{% endblock %}
{% block conteudo%}
<h2 style="text-align: center; font-size: 25px; font-family: Segoe UI;">Técnicos</h2>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Cargo</th>
            <th>Status</th>
            <th>Justificativa</th>
            <th>Data Inicial</th>
            <th>Data Final</th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>
        {% for tecnico in tecnicos %}
        <tr>
            <td>{{ tecnico[1] }}</td>
            <td>{{ tecnico[2] }}</td>
            <td>{{ tecnico[4] }}</td>
            <td>{{ tecnico[5] }}</td>
            <td>{{ tecnico[6] }}</td>
            <td>{{ tecnico[7] }}</td>
            <td>{{ tecnico[8] }}</td>
            <td>
                <button class="excluir" onclick="confirmar( {{tecnico[0]}})">Excluir</button>
                <a href="/editartecnico/{{ usuario[0]}}" class="editar">Editar</a>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="divimg">
    <img class="imgpython" src="{{url_for('static', filename='giphy.gif')}}">
</div>



<script>

    function confirmar(tecnico) {
        var confirmacao = confirm('Tem certeza que quer excluir o tecnico?')
        if (confirmacao) {
            window.location.href = "/excluir_tecnico/" + tecnico
        }

    }

</script>









{%endblock%}