{% extends "template.html" %}
{%block titulo%}
Usuários TI
{%endblock%}

{% block cadastro %}
<li class="item-menu">
  <a href="{{url_for('cadastro_usuario')}}">
      <span class="icon">
          <i class="bi bi-plus"></i>
      </span>
      <span class="txt-link">Equipamentos</span>
  </a>
</li>
{% endblock %}
{% block conteudo%}

<h2 style="text-align: center; font-size: 25px; font-family: Segoe UI;">Usuários</h2>

<table style="margin:0 13.5%; width: 75%;">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Cargo</th>
            <th>Ações</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario[1] }}</td>
            <td>{{ usuario[2] }}</td>
            <td>{{ usuario[4] }}</td>
            <td>{{ usuario[6] }}</td>
            <td>
                
                <a href="/status_usuario/{{ usuario[0]}}" class="editar">ON/OFF</a>
               <button class="excluir" onclick="confirmar( {{usuario[0]}})" > Excluir</button>
                <a href="/editarusuario/{{ usuario[0]}}" class="editar">Editar</a>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="divimg">
    <img class="imgpython" src="{{url_for('static', filename='giphy.gif')}}">
</div>




<script>

    function confirmar(usuario)

    {
    var confirmacao = confirm('Tem certeza que quer excluir o usuario?')
    console.log(confirmacao)
    if (confirmacao){
        window.location.href = "/excluir_usuario/"+usuario
    }
    }

</script>






{%endblock%}